body {
  background-color: #23252C;
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  border-radius: 0 0 10px 10px;
  margin: 20px 40%;
  width: 317px;
  background-color: #1A1B21;
}

.img {
  border-radius: 10px 10px 0 0;
  width: 317px;
}

.info {
  text-align: center;
  padding: 10px 10px;
}

a {
  color: #F5F5F5;
  text-decoration: none;
}

.name {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 25px;
  color: #FFFFFF;
}

.job {
  font-size: 12.8px;
  color: #F3BF99;
}

.email-button{
  margin-top: 15px;
  font-size: 14px;
  background-color: #FFFFFF;
  color: black;
  border: 0px;
  font-weight: 400;  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 34px;
  border-radius: 6px;
} 

.content {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.linkedin-button {
  color: white;
  margin-top: 15px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5093E2;
  border: 0px;
  width: 115px;
  height: 34px;
  border-radius: 6px;
}

.icon {
  padding-right: 10px;
  height: 16px;
}

.about{
  margin: 30px 30px;
  text-align: justify;
  color: #FFFFFF;
}

.about--title {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}

.about--desc {
  font-size: 10.4px;
  line-height: 150%;
}

.footer {
  background-color: #161619;
  height: 64px;
  display: flex;
  justify-content: center;
  color: #918E9B;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.footer--icon {
  width: 25px;
}